.ButtonWrapper button {
  padding-top: 1rem;
  color: var(--color-gray);
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  background: none;
}

.ButtonWrapper button:hover {
  cursor: pointer;
  color: var(--color-white);
  transition: color 1s ease;
}

.ButtonWrapper button:active,
.ButtonWrapper button:focus {
  outline: none;
}
