.Button {
  background-color: #f0a62e;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.Button:hover {
  cursor: pointer;
}

.Button:active,
.Button:focus {
  outline: none;
}
