.InputFieldWrapper input {
  display: block;
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
  max-width: 280px;
  height: auto;
  line-height: normal;
  font-size: 1.375rem;
  color: var(--color-gray);
  border: none;
  border-bottom: 2px solid var(--color-white);
  background: none;
  letter-spacing: 1px;
}

.InputFieldWrapper input::placeholder {
  color: #686868;
  opacity: 1;
  line-height: normal !important;
}

.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
  outline: none;
}
