.InputFieldWrapper input {
  border: #f0a62e solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.InputFieldWrapper input::placeholder {
  color: #adadad;
  opacity: 1;
  line-height: normal !important;
}

.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
  outline: none;
}

.InputFieldWrapper label {
  color: #606060;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: +0.5px;
}

@media only screen and (min-width: 600px) {
  .InputFieldWrapper input {
    margin-right: 1rem;
  }
}
