.Image {
  width: 20rem;
  position: relative;
  left: 3rem;
}

@media only screen and (min-width: 620px) {
  .Image {
    position: absolute;
    width: 20rem;
    top: 4rem;
    left: 15rem;
    transform: rotate(-15deg);
  }
}
