.ImageWrapper {
  margin: 0 auto;
  position: relative;
  top: 55px;
}

.Image {
  width: 20rem;
}

@media only screen and (min-width: 800px) {
  .Image {
    width: 30rem;
  }

  .ImageWrapper {
    top: 42px;
  }
}
