.CardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: var(--main-box-shadow);
  background-color: var(--bg-color--card);
  color: var(--main-text-color);
  width: 85%;
  max-width: 475px;
  min-height: 450px;
  margin-top: 3rem;
}
