.SearchBarWrapper {
  position: relative;
  width: 100%;
  max-width: 280px;
  margin: 3rem auto;
}

.InputFieldWrapper input {
  display: block;
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
  max-width: 280px;
  height: auto;
  line-height: normal;
  font-size: 1.5rem;
  color: var(--color-gray);
  border: none;
  border-bottom: 2px solid var(--color-white);
  background: none;
}

.InputFieldWrapper input::placeholder {
  color: var(--color-gray-medium);
  opacity: 1;
  line-height: normal !important;
}

.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
  outline: none;
}

.ButtonWrapper button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: var(--color-gray-dark);
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 1px solid var(--color-gray-dark);
  background: var(--color-pink);
  transition: all 500ms ease;
  border-radius: 10px;
}

.ButtonWrapper button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.ButtonWrapper button:active,
.ButtonWrapper button:focus {
  outline: none;
}
